<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flex</title>
    <style media="screen">
      .parent {
        background-color: red;
        height: 300px;
        display: flex; /* 子元素成为 flex-item */
        align-items: center; /* 居中 */
      }
      .child {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <!-- 优点：只设置 parent -->
    <!-- 缺点：兼容性 -->
    <div class="parent">
      <div class="child">
        Content
      </div>
    </div>
  </body>
</html>
