<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>table cell</title>
    <style media="screen">
      .parent {
        background-color: red;
        height: 300px;
        display: table-cell; /* 使支持 vertical-align */
        vertical-align: middle; /* 居中 */
      }
      .child {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <!-- 优点：只设置parent；IE8 以上支持， -->
    <!-- 缺点：需要用 table 结构支持 IE6/7 -->
    <div class="parent">
      <div class="child">
        Content
      </div>
    </div>
  </body>
</html>
