<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>inline block</title>
    <style media="screen">
      .parent {
        background-color: red;
        display: flex; /* 让子元素成为flex-item, 宽度等于内容宽度； */
        justify-content: center; /* 居中 */
      }
      .content {
        background-color: blue;
        /*margin: 0 auto;*/
      }
    </style>
  </head>
  <body>
    <!-- 优点：只需要设置 parent -->
    <!-- 缺点：兼容性 不兼容IE6/7/8-->
    <div class="parent">
      <div class="content">
        Content
      </div>
    </div>
  </body>
</html>
